name: CI - Terraform Validation

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        working-directory: ./iac
        run: terraform init -backend=false

      - name: Terraform Format
        working-directory: ./iac
        run: terraform fmt -check

      - name: Terraform Validate
        working-directory: ./iac
        run: terraform validate
